---
layout: default
title: A tiny green footprint gardening company
body_class: home
---

{% comment %}
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}

<div id="top-img">
	<img src="/img/main-home.jpg" alt="" width="705" height="280" />
	{% include tagline.html %}
</div>


<h1>welcome</h1>

<p>Where did the backyard garden go? 50 years ago, everyone had a garden to feed their family. Jardins Gardens aims to make this a reality again. Can you imagine having fresh salads all season long, harvested right outside your own door? That's as local as it gets. And have you tasted a salad you've grown yourself? Delicious! Growing your own food isn't just hip and cool; it's fun for the whole family. If you need a hand getting started, we can help.</p>

<h2>How it works</h2>

<ul id="diagrams">
	<li class="one">
		<h2>Step 1</h2>
		<p><em>You contact us.</em>
		Tell us you want a garden. <br/><strong>250-490-3600.</strong></p>
	</li>
	<li class="two">
		<h2>Step 2</h2>
		<p><em>We construct it.</em>
		We put it together, fill it with soil, and give you seeds, seedlings and instructions!</p>
	</li>
	<li class="three">
		<h2>Step 3</h2>
		<p><em>You consume it.</em>
		You plant it, water it and eat it. It's that simple.</p>
	</li>
</ul>



<blockquote>
	<p>To promote food security and environmental stewardship on a local level by helping people to experience all the joys and benefits of growing their own food.</p>
</blockquote>
